div {
    border: 2px solid gray;
    padding: 50px 50px;
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 1px;
    font-family: "Times New Roman", Times, serif;
    background-color:whitesmoke;
    font-size: 18px;
  }
  
  h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
  }
p
{
  font-size: 18px;
}